body {
  max-width:700px;
  background-color:#fafafa;
  margin:40px auto;
  padding:20px;
  font:16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color:#444
}

a:link    { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover   { text-decoration: underline; }

.subtitle { font-size: 150%; }
.header   { font-size: 70%; }
.date     { font-size: 80%; }

div.sourceCode {
  background-color:#EEE;
  padding:4px 10px;
}

div.taglist {
  font-size:70%;
  color: #aaa;
}

.footer {
  padding:20px;
  font-size:60%;
  text-align: center;
}
